/* Stili per il footer */
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.footer-section {
  flex: 1;
  margin: 10px;
  text-align: center;
}

.footer-section h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.footer-section ul li {
  margin: 0 5px;
}

.footer-section ul li a {
  color: #333;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

/* Stili per la sezione "più informazioni" */
.more-info {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

.more-info-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 800px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.more-info-container h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.more-info-container p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.more-info-container .close-btn {
  display: block;
  margin-top: 20px;
  text-align: center;
  color: #333;
  text-decoration: none;
  border: 1px solid #333;
  padding: 5px 10px;
  border-radius: 5px;
}

.more-info-container .close-btn:hover {
  background-color: #333;
  color: #fff;
  text-decoration: none;
}
